{% extends 'base.html' %}


{% block content %}


<div class="container text-center">
   
    <div class="fromss">
        <h1 class="pb-3">Login page</h1>
<form method="post">
    {% csrf_token %}
    Username : <input type="text" name="username"><br><br>
    Password : <input type="text" name="password"><br><br>
    <div class="">
    <a href="{% url 'person_add' %}"><button type="submit" class="btn btn-success loginbutton">Submit</button></a><br><br>
</div>
    <p class="" > Already have an account? &nbsp; <a href="{% url 'Register_page' %}">Register here</a></p> 
</form>
</div>
</div>


{% endblock %}